{
    "printWidth": 175,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "eslintIntegration": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "css",
    "semi": true
}
