.grupo-item {
  padding: 30px 20px 30px 20px;
  color: var(--color_text);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--best_shadow);
  justify-content: space-between;
  font-size: 20px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.grupo-name-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.grupo-name-info-top {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.grupo-name-info-bottom {
  font-size: 12px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.grupo-name-info ion-icon {
  font-size: 28px;
  margin-right: 10px;
}
.grupo-options {
  font-size: 25px;
}
.grupo-options .delete {
  display: flex;
  align-items: center;
  font-size: 23px;
}
.gastos_totales {
  color: var(--ion-color-danger-shade);
}
.grupo-name-info .grupo-name {
  width: 77%;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}
.codinv {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 10px;
}
