.grupo-item {
  display: flex;
  box-shadow: var(--best_shadow);
  align-items: center;
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  /* padding: 30px 20px 30px 0px; */
  border-radius: 15px;
  background-color: white;
  position: relative;
  margin: 10px;
}
.grupo-left {
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 23%;
  max-width: 23%;
  width: 23%;
  justify-content: center;
  font-size: 30px;
}
.grupo-right {
  height: 100%;
  min-width: 77%;
  max-width: 77%;
  width: 77%;
  display: flex;
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
}
.grupo-r-l {
  margin-top: 5px;
  flex-direction: column;
  display: flex;
  height: 100%;
  margin-left: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.grupo-r-r {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 25px;
}
.grupo-r-l .grupo-name {
  font-size: 18px;
}
.grupo-r-l .gastos_totales {
  margin-top: 5px;
  color: var(--ion-color-danger-shade);
  font-size: 17px;
}
.grupo-r-l .codinv {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
}
.grupo-r-participantes {
  font-size: 10px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-style: italic;
}
.grupo-options ion-icon {
  margin-left: 5px;
}
/* .grupo-item {
  padding: 30px 20px 30px 20px;
  color: var(--color_text);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--best_shadow);
  justify-content: space-between;
  font-size: 20px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.grupo-name-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.grupo-name-info-top {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.grupo-name-info-bottom {
  font-size: 12px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.grupo-name-info ion-icon {
  font-size: 28px;
  margin-right: 10px;
}
.grupo-options {
  font-size: 25px;
}
.grupo-options .delete {
  display: flex;
  align-items: center;
  font-size: 23px;
}
.gastos_totales {
  color: var(--ion-color-danger-shade);
}
.grupo-name-info .grupo-name {
  width: 77%;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}
.codinv {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 10px;
} */
