.grupo-item {
  padding: 30px 20px 30px 20px;
  color: var(--color_text);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--best_shadow);
  justify-content: space-between;
  font-size: 20px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.grupo-name-info {
  display: flex;
  align-items: center;
  width: 50%;
}
.grupo-name-info ion-icon {
  font-size: 22px;
  margin-right: 10px;
}
.grupo-options {
  font-size: 25px;
}
