.boton-new-categoria span {
  font-weight: normal;
}
.button-add {
  display: flex;
  width: 100%;
  justify-content: center;
}
.buttons-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
