.cuenta-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: var(--color_text);
  display: flex;
}
.cuenta-name-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10%;
  width: 60%;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cuenta-name-info ion-icon {
  font-size: 28px;
  margin-right: 10px;
}

.cuenta-content {
  display: flex;
  justify-content: space-around;
}
.cuenta-options {
  font-size: 23px;
  color: var(--ion-color-danger-tint);
}
.cuenta-name-info .cuenta-name {
  font-size: 16px;
}
