.cuenta-item {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color_text);
}
.cuenta-name-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}
.cuenta-name-info ion-icon {
  font-size: 30px;
  margin-right: 10px;
}

.cuenta-content {
  display: flex;
  justify-content: space-around;
}
.cuenta-options {
  font-size: 23px;
  color: var(--ion-color-danger-tint);
}
