.gastos-filters {
  width: 100%;
  margin-bottom: 15px;
}
.dateTimeModal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarModal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

.calendarModal ion-datetime {
  height: 382px;
}
.gastos-filters-fechas {
  background-color: red;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.gastos-filters-fechas-fecha {
  display: flex;
  align-items: center;
}
.gastos-filters-fechas-fecha span {
  margin-left: 10px;
}
.button-date {
  min-width: 105px;
}
