/* ion-menu {
  --ion-background-color: var(--ion-background-color);
} */

ion-menu ion-toolbar {
  --background: transparent;
}

ion-menu ion-list {
  background: transparent;
}
ion-menu ion-item {
  color: rgb(255, 255, 255);
  --background: transparent;
}
ion-menu ion-content {
  --background: transparent;
}

.required {
  color: red;
  font-size: 18px;
}

div.ion-page {
  margin-top: 60px;
}
