.image_tab {
  transform: scale(60%);
}
.sidebar-top {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: start;
}
.image {
  position: relative;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5 px;
  border-top-left-radius: 5 px;
}

.image-circle {
  position: relative;
  top: 25px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  /* border: 3px solid var(--ion-color-primary); */
  background-size: cover;
  overflow: hidden;
  margin-bottom: 35px;
  background-color: var(--ion-color-primary-tint);
}
.label {
  color: var(--color_title);
  position: relative;
  font-size: 15px;
  /* text-transform: uppercase; */
  font-weight: bold;
}
.sidebar-header {
  /* padding-left: 20px; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 30px;
  padding-bottom: 20px;
  box-sizing: content-box;
  /* border-bottom: 0.5px solid var(--color_small); */
}
.back_logo {
  height: 55px;
  width: 55px;
  /* background-color: var(--ion-color-primary); */
  /* padding: 6px; */
}
.back_logo img {
  width: 60px;
  opacity: 1;
  border-radius: 20px;
}
.label.small {
  color: var(--color_small);
  font-size: 12px;
  font-weight: 300;
}
.menu-divider {
  background-color: var(--ion-color-primary);
  margin-right: 30px;
  margin-left: 30px;
  opacity: 0.4;
  margin-top: 30px;
}

.sidebar-bottom {
  margin: 20px;
}

.sidebar-bottom .menu-item {
  color: var(--color_text);
  --padding-start: 0px;
  /* background-color: var(--ion-color-primary); */
  border-radius: 15px;
  margin-bottom: 5px;
  --inner-border-width: 0px;
}
.sidebar-bottom .menu-item.selected-item {
  background-color: var(--ion-color-primary);
  color: white;
}
.sidebar-bottom .menu-item span {
  padding: 15px;
}
.menu-item-icon {
  padding-left: 15px;
  font-size: 20px;
}
.link-component {
  text-decoration: none;
}
ion-menu-button ion-icon {
  color: white;
}
.menu-fab {
  margin-bottom: 10px;
  margin-right: 10px;
}
