.image_tab {
  transform: scale(60%);
}
.sidebar-top {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: start;
}
.image {
  position: relative;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-top-right-radius: 5 px;
  border-top-left-radius: 5 px;
}

.image-circle {
  position: relative;
  top: 48px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 2px solid var(--ion-color-primary);
  background-size: cover;
  overflow: hidden;
  margin-bottom: 60px;
}
.label {
  color: var(--color_title);
  position: relative;
  font-size: 15px;
  /* text-transform: uppercase; */
  font-weight: bold;
}
.sidebar-header {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: end;
  height: 50px;
}
.back_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background-color: var(--ion-color-primary);
  padding: 6px;
  border-radius: 15px;
  opacity: 0.8;
}
.back_logo img {
  width: 100%;
  opacity: 1;
}
/* .menu-sidebar {
  background: rgb(0, 56, 131);
  background: linear-gradient(
    4deg,
    rgba(0, 56, 131, 1) 0%,
    rgba(20, 94, 191, 1) 35%,
    rgba(71, 150, 255, 1) 100%
  );
} */
