.grupos-list {
  display: flex;
  flex-direction: row;
  background-color: var(--ion-color-secondary-tint);
  border-radius: 15px;
  margin: 0 15px 0 15px;
  padding: 5px 0px 5px 0px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: var(--best_shadow);
}
.grupo {
  margin: 8px;
  padding: 10px;
  min-width: 110px;
  max-width: 110px;
  min-height: 140px;
  max-height: 140px;
  box-shadow: var(--best_shadow);
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.grupo img {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  opacity: 0.1;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 100%;
}
.grupo-name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color_title);
  font-weight: bold;
  z-index: 2;
}
.grupo-content {
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}
.grupo-content ion-icon {
  font-size: 40px;
}
.grupo-balance {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3px;
}

.separador-grupos {
  width: 100%;
  height: 5px;
  background-color: var(--ion-color-primary);
  border-radius: 5px;
  z-index: 2;
}
.title {
  margin: 10px;
  margin-left: 20px;
  font-size: 20px;
  color: var(--color_title);
}
